@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  background: url(../images/crew-bg.svg) no-repeat;
  height: 100vh;
}

/* NAVBAR */
nav {
  position: relative;
  padding: 25px 0 !important;
  font-family: "Barlow Condensed", sans-serif;
}

.navbar-brand {
  padding: 0 50px !important;
}

.navbar-collapse {
  padding: 0 110px 0 0;
  margin-left: 470px;
  font-size: 13px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(40.774227142333984px);
  height: 80px;
}

.hline {
  height: 1px;
  width: 500px;
  background-color: #ffffff33;
  position: absolute;
  left: 10vw;
  z-index: 1;
}

.navbar-nav {
  display: flex;
  margin-left: auto;
}

.nav-link {
  letter-spacing: 2px;
  white-space: nowrap;
  color: #fff;
}

.nav-no {
  font-weight: 700;
  margin-right: 5px;
}

.navbar-nav > li {
  display: flex;
  gap: 15px;
  float: left;
  position: relative;
}

.nav-item {
  padding: 12px 15px;
}

.navbar-nav .active a::after {
  content: " ";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
  bottom: -10px;
  border-bottom: 2px solid #fff;
}

.wrapper {
  margin: 0 130px;
  display: flex;
}

.no {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
}


.intro h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 25px;
  letter-spacing: 4.5px;
  margin: 20px 0 50px;
}

.intro h4 span {
  color: #ffffff40;
  font-weight: 700;
  margin-right: 20px;
}

.intro ul {
  display: flex;
  padding: 0;
  margin-top: 90px;
}

.profile {
  margin-top: 100px;
}

.profile h3, .profile h2 {
  font-family: 'Bellefair', serif;
}

.profile h2 {
  font-size: 40px;
}

.profile h3{
  font-size: 24px;
  color: #ffffff40;
}

.profile p {
  color: #D0D6F9;
  font-family: 'Barlow', sans-serif;
  width: 65%;
  line-height: 25px;
  margin-top: 20px;
}

.circle {
background-color: #979797;
width: 10px;
height: 10px;
margin-right: 20px;
border-radius: 100%;
list-style: none;
cursor: pointer;
}

.circle.active {
  background-color: #fff;
}

.engineer img {
  margin-top: 69px;
}
